/**
    * CSS specific to index.html.
    *
    * @file   index.css.
    * @author Jonathan Delgado.
 */
/*======================= Green section =======================*/
/* Desktop */
@media screen and (min-width: 981px) {
    /* Hide the normal image */
    section#two div.image img {
        display: none;
    }

    section#two {
        /* Fade to the background color for larger monitors */
        background-image:
            linear-gradient(to right, rgba(50,56,62,0), rgba(50,56,62,1)),
            url(https://jdelgado.net/images/stochastic-thermodynamics/long-ts.webp);
        background-repeat: no-repeat;
        height: 370px;
        background-size: 1280px 370px;
        background-position: 0px 100%;
    }
}

/* Mobile */
@media screen and (max-width: 980px) {

    section#two {
        /* Take away the background image on mobile */
        background-image: none;
    }

    section#two picture img {
        /* Don't let it shrink of mobile devices */
        min-height: 370px;
    }

    div.content > p {
        /* Testing */
        /*color: red;*/
    }

}