/********** Everywhere **********/
/* 980px is the width for most content changes */
/* Use 981px min for desktop, 980px max for mobile */


/* Smooth scrolling to anchors on page */
html {
  scroll-behavior: smooth;
}

/* Make certain text and images unselectable  */
.unselectable, span.image > img, section.spotlight > div.image {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Anchor placement anywhere */
.anchor {
    display: block;
    position: relative;
    /* Offset to account for header affecting anchor placement */
    top: -80px;
    visibility: hidden;
}

/* Remove the dotted underline on links */
a:link {
    border-bottom: none;
}


/********** Homepage **********/


/* Increase font size in spotlight sections */
div.content > p {
    font-size: 15px;
}

/* Make links stand out from text in body */
div.content > p > a {
    text-decoration: underline;
}

/* Allow for footer text to be placed in bottom corner.*/
section.spotlight {
    position: relative;
}

section.spotlight > div.content > footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

/* Have faculty page link in bottom left for right image spotlight */
section.spotlight.alt > div.content > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

/* Style faculty page links */
section.spotlight > div.content > footer > a {
    font-style: italic;
    text-decoration: underline;
}


/*** Homepage Green research section ***/

/* Desktop */
@media screen and (min-width: 981px) {
    /* Hide the normal image */
    section#two div.image img {
        display: none;
    }

    section#two {
        background-image: url(https://jdelgado.net/images/stochastic-thermodynamics/long-ts.webp);
        height: 370px;
        background-size: 1280px 370px;
        background-position: 0px 100%;
    }
}

/* Mobile */
@media screen and (max-width: 980px) {

    section#two {
        /* Take away the background image on mobile */
        background-image: none;
    }

    section#two picture img {
        /* Don't let it shrink of mobile devices */
        min-height: 370px;
    }

    div.content > p {
        /* Testing */
        /*color: red;*/
    }

    /* For image elements in body */
/*    span.image img {
        min-width: 400px;
        border: 3px solid green;
    }

    span.image.left img {
        float: left;
        display: inline-block;
        margin-right: 5000px;
    }

    span.image.right img {
        float: right;
        margin-left: 100px;
    }*/

}


/********** Pages **********/


/* Captions to images */
span.image > span.caption {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    line-height: 1.1;
    /* Separate caption from image */
    padding-top: 12px;
    /* For testing */
    /*border: 3px solid green;*/
}