/**
    * Global css used for all pages.
    *
    * @notes 980px is the width for most content changes.
    *        Use 981px min for desktop, 980px max for mobile.
    * @file   main.css.
    * @author Jonathan Delgado.
 */


:root {
    /* Define common colors and other variables */
    --blue: #6CA3D8;
    --red:  #bf938e;
}

/* Smooth scrolling to anchors on page */
html {
  scroll-behavior: smooth;
}

/* Make certain text and images unselectable  */
.unselectable,
img,
reveal-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Anchor placement anywhere */
.anchor {
    display: block;
    position: relative;
    /* Offset to account for header affecting anchor placement */
    top: -80px;
    visibility: hidden;
}

/* Remove the dotted underline on links */
a:link {
    border-bottom: none;
}

/* Highlighting */
::selection {
    background: var(--blue);
}

/* Captions to images */
caption {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    line-height: 1.1;
    /* Separate caption from image */
    padding-top: 12px;
}


/*======================= Custom Tags =======================*/


reveal-button {
    padding: 0px 5px;
}

/* Defines the color styling for selected reveal buttons */
a.selected {
    background-color: var(--blue);
}

/* Cancel selection color */
a.selected:hover {
    background-color: var(--red);
}


/*======================= Unsorted =======================*/


/* Increase font size in spotlight sections */
div.content > p {
    font-size: 15px;
}

/* Make links stand out from text in body */
div.content > p > a {
    text-decoration: underline;
}

/* Allow for footer text to be placed in bottom corner.*/
section.spotlight {
    position: relative;
}

section.spotlight > div.content > footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

/* Have faculty page link in bottom left for right image spotlight */
section.spotlight.alt > div.content > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

/* Style faculty page links */
section.spotlight > div.content > footer > a {
    font-style: italic;
    text-decoration: underline;
}